.page_title{
    color: darkslategrey;
    padding: 50px;
    
}

.page_title h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 30px;
}

.loginInput {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

.contentWrapper{
    margin: 0 auto;
    width: 55%;
  
    margin-top: 5%;
  }
  